<%- include('../partials/header') %>


<form action="/images/<%= image._id %>?_method=PUT" method="POST" id="add-image">
        <label>Caption:</label>
        <br>
        <textarea rows="4" cols="50" name="caption" class="caption"></textarea>
        <br><br>
        <input type="submit" value="Update">
</form>




<% - include('../partials/footer') %>