<%- include('./partials/header') %>


<section class="imagesection">

	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="imageindex" src="https://i.imgur.com/1LZd7hz.png">
		</div>

	</div>
	<div id="IMGDiv">
		<div class="imgCapDiv"> <img class="imageindex" src="https://i.imgur.com/aoNU68t.jpg">
		</div>

	</div>

	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="imageindex" src="https://i.imgur.com/pzZFSnB.jpg">

		</div>
	</div>

</section>


<section class="imagesection">

	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="imgindex" src="https://i.imgur.com/sdFp0yj.jpg">
		</div>

	</div>
	<div id="IMGDiv">
		<div class="imgCapDiv"> <img class="imgindex" src="https://i.imgur.com/comBlQW.jpg">
		</div>

	</div>

	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="imgindex" src="https://i.imgur.com/Qzvxjjh.jpg">

		</div>
	</div>

</section>

<%- include('./partials/footer') %>