<%- include('./partials/header') %>

<h1>Design Inspiration </h1>
<h2> A space to save your ideas! </h2>




<!-- <ul id="all-images"></ul>
	
		<li id="card">
		<img id="img" src="https://i.imgur.com/aNfq7H3.jpg" alt=""><br>
	</li> -->





</ul>






<%- include('./partials/footer') %>