<%- include('./partials/header') %>



<div class="image-grid">

	<img class="allimages" src="https://i.imgur.com/1LZd7hz.png">
	<img class="allimages" src="https://i.imgur.com/aoNU68t.jpg">
	<img class="allimages" src="https://i.imgur.com/pzZFSnB.jpg">
	<img class="allimages" src="https://i.imgur.com/sdFp0yj.jpg">
	<img class="allimages" src="https://i.imgur.com/comBlQW.jpg">
	<img class="allimages" src="https://i.imgur.com/Qzvxjjh.jpg">
</div>

<%- include('./partials/footer') %>