<%- include('./partials/header') %>

<div>
  <img class="builder" src="https://i.imgur.com/IK1oswW.png" alt="">
</div>
<div class="text-div">
	<h1>Finding Inspiration</h1>
	<p class="home-text-p"> In the realm of interior design, our website serves as a boundless wellspring of inspiration for those seeking to
	transform their living spaces. We are dedicated to assisting individuals in discovering the perfect design elements that
	resonate with their unique style and preferences. From the latest trends in furniture and color palettes to innovative
	space-saving solutions, our platform is a treasure trove of ideas waiting to be explored. Moreover, we encourage users
	to actively participate by sharing their own interior design concepts and inspiration, fostering a close-knit community
	of interior design enthusiasts. Together, we create a supportive environment where creativity flourishes, helping people
	turn their living spaces into stunning reflections of their personality and taste. Join us on our journey to reimagine
	and revitalize interior design, one inspirational idea at a time.  </p>
</div>
<div>
	<img src="https://i.imgur.com/lzp4sUl.jpg" alt="" class="arje2-img">
</div>

<div>
	<img src="https://i.imgur.com/Wd9IWDi.jpg" alt="" class="arje-img">
</div>

<div class="div-img">
	<img class="discover-img" src="https://i.imgur.com/LI1D83h.png" alt="">
	<button class="home-btn"><a  href="/designs" <%- title==='All Designs' ? 'class="active"' : '' %> class="h-btn">ALL
	DESIGNS</a></button>
	
</div>

<div class="marquee-div">
	<div class="marquee">
		<div class="marquee__inner" aria-hidden="true">
			<span> Mies van der Rohe / </span>
			<span> Le Corbusier / </span>
			<span> Frank Lloyd Wright / </span>
			<span> Eames / </span>
		</div>
	</div>
</div>




<%- include('./partials/footer') %>



	