<%- include('./partials/header') %>

<div>
  <img class="builder" src="https://i.imgur.com/IK1oswW.png" alt="">
</div>
<div class="text-div">
	<h1>Finding Inspiration</h1>
	<p class="home-text-p"> In the realm of interior design, our website serves as a boundless wellspring of inspiration for those seeking to
	transform their living spaces. We are dedicated to assisting individuals in discovering the perfect design elements that
	resonate with their unique style and preferences. From the latest trends in furniture and color palettes to innovative
	space-saving solutions, our platform is a treasure trove of ideas waiting to be explored. Moreover, we encourage users
	to actively participate by sharing their own interior design concepts and inspiration, fostering a close-knit community
	of interior design enthusiasts. Together, we create a supportive environment where creativity flourishes, helping people
	turn their living spaces into stunning reflections of their personality and taste. Join us on our journey to reimagine
	and revitalize interior design, one inspirational idea at a time.  </p>
</div>
<div class="container">
	<img src="https://i.imgur.com/lzp4sUl.jpg" alt="" class="arje1-img">
	<p class="paragraph">
		Every month, we eagerly await the moment to unveil a fresh and enthralling feature on our homepage, offering a
		tantalizing glimpse into the mesmerizing world of design that we've unearthed. For this month's showcase, we take
		immense pride in presenting the enchanting collaboration of Arje x Nordic Knots. Arjé, born from the creative minds of
		Bessie and Oliver Corral, a dynamic husband-and-wife team, envisions a world where the currents of creativity and energy
		seamlessly intermingle. At the heart of Arjé lies Arjé HOME, a collective of exceptionally talented artisans and
		creators who wholeheartedly embrace a philosophy grounded in collaboration, global influence, and an insatiable thirst
		for cultural exploration.
		
		Nordic Knots, on the other hand, was founded by the visionary trio of Liza Laserow Berglund, Fabian Berglund, and Felix
		Berglund. Their inspiration transcends the ever-shifting tides of seasons and trends, guided by a discerning
		Scandinavian sensibility that weaves together timeless textiles crafted especially for the modern home.
	</p>
</div>

<div class="arje2-div">
	<img src="https://i.imgur.com/Wd9IWDi.jpg" alt="" class="arje2-img">
</div>

<div class="div-img">
	<img class="discover-img" src="https://i.imgur.com/LI1D83h.png" alt="">
	<button class="home-btn"><a  href="/designs" <%- title==='All Designs' ? 'class="active"' : '' %> class="h-btn">ALL
	DESIGNS</a></button>
	
</div>

<div class="marquee-div">
	<div class="marquee">
		<div class="marquee__inner" aria-hidden="true">
			<span> Mies van der Rohe / </span>
			<span> Le Corbusier / </span>
			<span> Frank Lloyd Wright / </span>
			<span> Eames / </span>
		</div>
	</div>
</div>




<%- include('./partials/footer') %>



	