<%- include('./partials/header') %>

<div>
  <img class="builder" src="https://i.imgur.com/IK1oswW.png" alt="">
</div>
<!-- <div>
	<img class="items-img" src="https://i.imgur.com/yFhc1bO.png" alt="">
</div> -->

<div>
	<img src="https://i.imgur.com/Wd9IWDi.jpg" alt="" class="arje-img">
</div>

<div class="div-img">
	<img class="discover-img" src="https://i.imgur.com/LI1D83h.png" alt="">
	<button class="home-btn"><a  href="/designs" <%- title==='All Designs' ? 'class="active"' : '' %> class="h-btn">ALL
	DESIGNS</a></button>
	
</div>

<div class="marquee-div">
	<div class="marquee">
		<div class="marquee__inner" aria-hidden="true">
			<span> Mies van der Rohe / </span>
			<span> Le Corbusier / </span>
			<span> Frank Lloyd Wright / </span>
			<span> Eames / </span>
		</div>
	</div>
</div>




<%- include('./partials/footer') %>



	