<%- include('./partials/header') %>

<h1>Design Inspiration </h1>
<h2> A space to save your ideas! </h2>

<% if (!user) { %>
<ul>
	<li>Welcome! </li>
	<li>Log in</li>
</ul>
<% } %>

<!-- <h1> All Posts </h1>


<section>



</section> -->




<%- include('./partials/footer') %>