@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

/* HOME PAGE */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;


}

.main-container {
  min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    background-color: #f4f0f0;;
}

.banner-div {
  position: relative;
  background-color: #f8f6f3;
  height: 2.5rem;
}


.home-banner {
  font-family: Suisse Regular, sans-serif;
  color: gray;
  text-align: center;
  line-height: 2.5;
  font-size: 1.6vmin;
}


.builder {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;

}

.text-div {
  text-align: center;
}

.arje2-img { 
  margin-top: 10rem;
  width: 50%;
  height: 50%;
}
.arje-img {
  margin-top: 10rem;
  width: 50%;
  height: 50%;
  margin-bottom: 10rem;
}

.home-text-p {
  text-align: center;
  margin: 1rem;
  padding: 5rem;
}
.items-img {
  width: 100vw;
}

.div-img {
  position: relative;
  margin-bottom: 0;


}

.discover-img {
  width: 100vw;
  margin-bottom: 0;

}

.home-btn {
  position: absolute;
  top: 43%;
  left: 74%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  text-decoration: underline;
  padding-bottom: 5px;
}

.home-btn:hover {
  background-color: black;
  font-style: italic;
  text-decoration: none;
}


.h-btn:hover {
  color: white;
}
.comment-h2 {
  margin-bottom: 1rem;
}


/* NAV BAR HEADER */

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #d6d0c8;
  padding: 12px 20px;
}

.nav-links {
 padding: 1rem;
}

a {
  text-decoration: none;
  color: rgb(100, 97, 97);
}

.nav-links:hover {
  color: white;
}

/* NAV SLIDER */
.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;

}


.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
  display: none;
}

.open-menu {
  color: gray;
  top: 40%;
  right: 20px;
  transform: translate(-50%);
}

.close-menu {
  color: white;
  top: 20px;
  right: 20px;

}

#check {
  display: none;
}

/* NAV SLIDER MEDIA */

@media only screen and (max-width:768px){
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #67645e;
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;


  }

  .menu li a {
    padding: 10px;
    color: white;

  }


  .nav-links:hover {
    color: black;

  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  .banner {
    display: none;
  }
}



/*ALL DESIGNS */

#alltitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Kalam',
    cursive;
  font-size: 25px;
  color: #67645e;
}

#mytitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Kalam',
    cursive;
  font-size: 25px;
}

h1{
  color: #67645e;
  margin-top: 1rem;
  font-family: 'Kalam',
    cursive;
}
#mydes {
  height: 600px;
  width: 550px;
  align-items: center;
}

.despage {
  text-align: center;
}

.imageSection {
  display: flex;
  justify-content: center;
}

#formsec {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#edit-btn {
  padding: .1em 1em;
  margin-top: 6rem;
  border-radius: 5px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-size: .8em;
  border-style: none;
}

.editDelBtnDiv {
  margin-top: 2rem;
}

.grid {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;


}

.allimages {
  width: 400px;
  height: 400px;
  margin: 10px;
}

/* FIELDSET, LEGEND */

fieldset {
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  width: 50%;
  min-width: 200px;
  margin: 50px auto;
  text-align: center;
  margin-top: 8rem;
  /* margin-bottom: 15rem; */
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
}

/* Labels */

label {
  display: block;
  margin-top: 1em;
  
}

label:first-of-type {
  margin-top: 0;
}

/* TEXTAREA, INPUT  */

textarea {
  min-height: .5em;
  min-width: 20%;
  padding: .5em;
  border: solid 1px #999;

}

input {
  padding: .3em;
  border: solid 1px #999;
}

input[type="text"] {
  width: 15em;
}

/* Submit Button Input */
input[type="submit"] {
  padding: 1em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
}

/* Large screen rules */
@media screen and (min-width: 430px) {
  legend {
    font-size: 1.75em;
    width: 50%;
    min-width: 200px;
    margin: 50px auto;  
  }
    /* footer {
      height: 5rem;
      background-color: #d6d0c8;
      margin-bottom: 0;  
    } */
}







/* BUTTONS*/


.editBtn {
  padding: .3em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  border-style: none;
  /* display: inline-block;
  text-align: center; */
}


#edit-btn {
  padding: .3em 1em;
  margin-top: 6rem;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-size: .8em;
  border-style: none;

}

/* SHOW */
#deletebtn {
  padding: .3em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-style: none;
}


/* COMMENTS */

.comment-h2 {
  color: #67645e;
  font-family: 'Kalam',
    cursive;
}

.add-label {
  color: #67645e;
  font-family: 'Kalam',
      cursive;
}
#avatar {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
  margin-bottom: 2rem;
  /* border-radius: 30px; */
}

#addcom {
  padding: .3em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-size: 1em;
  border-style: none;
}

#btncom {
  margin: auto;
  border-radius: 10px;
}

#usercomment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* MARQUEE */

.marquee-div {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f4f0f0;
  color: #2b2515;
  font-family: 'Cardo', serif;
  margin-bottom: 0;

}

.marquee {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 300%;
    --offset: 20vw;
  --item-font-size: 10vw;
    --move-initial: 0;
    --move-final: -100%;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;

}



.marquee span {
  white-space: nowrap;
  font-size: 9.9vw;
  padding: 0 2vw;
}


@keyframes marquee {
  0% {
  transform: translate(0, 0);
  }

  100% {
  transform: translate(-100%, 0);
  }
}



/* FOOTER */


#footer {
  margin-top: 0;
  height: 5rem;
  background-color:#d6d0c8;
  position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
  font-family: Suisse Regular, sans-serif;
  padding-top: 2rem;
  color:gray;
  text-align: center;
}







/* 
MISC CODE */

/* 
.add-design {
  margin-bottom: 15rem;
} */


/* h5 {
  text-align: center;
  color: black;
} */

/* .size {
  height: 50vw;
  width: 100vw;
} */

/* 
.imagegrid {
  margin: 40 58px 40px 58px;
} */