@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

/* nav {
  background-color: beige;
  margin-top 0;
} */


nav {
  grid-area: nav;
  background-color: #E8DED1;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
}

.icon {
  height: 100px;
  width: 100px;
}

a {
  color: black;
}

.header {
  margin-left: 280px;
  font-family: 'Kalam', cursive;
  font-size: 25px;
  text-align: center;
}

#header {
  display: block;

}

.imageindex {
  height: 400px;
  width: 400px;
  float: left;
  margin: 58px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.imgindex {
  height: 400px;
  width: 400px;
  float: left;
  margin-top: 20px;
  margin: 0 58px 20px 58px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.designlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.alldesigns {
  height: 400px;
  width: 400px;
  margin-top: 30px;
  margin: 0 58px 30px 58px;
}

#imgav {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

#btncom {
  display: flex;
  align-self: flex-end;
   border-radius: 10px;
}