@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.banner {
  position: relative;
  z-index: 500;
  background-color: #f8f6f3;
  height: 2rem;
}


.home-banner {
  font-family: Suisse Regular, sans-serif;
  color: gray;
  text-align: center;
  line-height: 2.5;
  font-size: 1.6vmin;

}



/* NAV BAR HEADER */

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #d6d0c8;
  padding: 12px 20px;
}

a {
  text-decoration: none;
  color: rgb(100, 97, 97);
}

.nav-links:hover {
  color: white;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;

}


.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
  display: none;
}

.open-menu {
  color: gray;
  top: 40%;
  right: 20px;
  transform: translate(-50%);
}

.close-menu {
  color: white;
  top: 20px;
  right: 20px;

}

#check {
  display: none;
}

@media only screen and (max-width:768px){
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #67645e;
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;


  }

  .menu li a {
    padding: 10px;
    color: white;

  }


  .nav-links:hover {
    color: black;

  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  .banner {
    display: none;
  }
}


/* IMAGES */
/* home  */

h5 {
  text-align: center;
  color: black;
}

.size {
  height: 50vw;
  width: 100vw;
}

/* 
.imagegrid {
  margin: 40 58px 40px 58px;
} */


/* all designs */

#alltitle {
  text-align: center;
  font-family: 'Kalam',
    cursive;
  font-size: 25px;
}

#mytitle {
  text-align: center;
  font-family: 'Kalam',
    cursive;
  font-size: 25px;
}


#mydes {
  height: 600px;
  width: 550px;
  align-items: center;
}

.despage {
  text-align: center;
}

.imageSection {
  display: flex;
  justify-content: center;
}

#formsec {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#edit-btn {
  padding: .1em 1em;
  margin-top: 6rem;
  border-radius: 5px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-size: .8em;
  border-style: none;
}

.editDelBtnDiv {
  margin-top: 2rem;
}

.grid {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;


}

.allimages {
  width: 400px;
  height: 400px;
  margin: 10px;
}

/* Fieldset and legend */
fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 200px;
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
}

/* Labels */
label {
  display: block;
  margin-top: 1em;
  ;
}

label:first-of-type {
  margin-top: 0;
}

/* Inputs and Textarea */
input {
  padding: .3em;
  border: solid 1px #999;
}

input[type="text"] {
  width: 15em;
}

textarea {
  min-height: .5em;
  min-width: 20%;
  padding: .5em;
  border: solid 1px #999;
}

/* Submit Button  */
input[type="submit"] {
  padding: 1em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
}

/* Large screen rules */
@media screen and (min-width: 430px) {
  legend {
    font-size: 1.75em;
    width: 50%;
    min-width: 200px;
      margin: 50px auto;
     
  }
}

fieldset {
  width: 50%;
  min-width: 200px;
  margin: 50px auto;
  text-align: center;
}






/* EDIT EJS*/
.editBtn {
  padding: 6px;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-style: none;
  display: inline-block;
  text-align: center;

}

/* SHOW */
#deletebtn {
  padding: .3em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  border-style: none;
  display: inline-block;
  text-align: center;



}


/* COMMENTS */

#avatar {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
  margin-bottom: 2rem;
  /* border-radius: 30px; */
}

#addcom {
  padding: .3em 1em;
  margin-top: 1em;
  border-radius: 6px;
  background-color: #D0C8B6;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-size: .8em;
  border-style: solid brown;
}

#btncom {
  margin: auto;
  border-radius: 10px;
}

#usercomment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}





.builder {

  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;

}

.items-img {
  width: 100vw;
}

.div-img {
  position: relative;
  margin-bottom: 0;


}

.discover-img {
  width: 100vw;
  margin-bottom: 0;

}

.home-btn {
  position: absolute;
  top: 43%;
  left: 74%;
  z-index: 1;
  transform: translate(-50%, -50%);


}

.comment-h2 {
  margin-bottom: 1rem;
}

