<%- include('../partials/header') %>

<h1 id="alltitle">All Designs</h1>

<div class="imagesection">

	<% designs.forEach(function(d) { %>
	<a href="/designs/<%= d._id %>">
		<img src="<%=d.images %>" alt="" class="allimages">
	</a>
	<% }); %>
</div>

<%- include('../partials/footer') %>