<%- include('../partials/header') %>

<section >
	<form action="/designs" method="POST" class="add-design">
		<fieldset>
			<legend>Add Design</legend>
			<label>Title:</label>
			<input type="text" name="title"> <br>
			<br>
			<label>Style:</label>
			<select name="style" id="inputStyle">
				<option value="Modern">Modern</option>
				<option value="Japandi">Japandi</option>
				<option value="California">California</option>
				<option value="Minimal">Minimal</option>
				<option value="Bohemian">Bohemian</option>
				<option value="Mid-Century">Mid-Century</option>
				<option value="Other">Other</option>
			</select><br>
			<br>
			<label>Imgur Image Link: </label>
			<input type="text" name="images" pattern="https:\/\/.{5,}"><br>
			<input class="submitBtn" type="submit" value="Add Design">
		</fieldset>
	</form>
</section>

<%- include('../partials/footer') %>